* {
  box-sizing: border-box
}
html {
  height: 100%;
  background-color: #bbb;
  font-size: 16px
}
body {
  height: 100%;
  padding: 1rem;
  color: #111
}
a {
  color: #111;
  text-decoration: none
}
a:hover {
  color: #00b
}
table {
  border: 1px solid #888;
  width: 100%
}
table tr th {
  background: linear-gradient(#888,#d5d5d5)
}
table tr td {
  background: #d5d5d5
}
@media (min-width:992px) {
  table {
    width: auto
  }
}
.menu {
  padding: 0
}
.menu li {
  overflow: hidden;
  display: block;
  margin-bottom: .25rem
}
.menu li a {
  display: block;
  padding: .5rem;
  background: linear-gradient(#888,#eee)
}
.menu li a.active,
.menu li a:hover {
  background: linear-gradient(#6f6f6f,#c8c8c8)
}
@media (min-width:992px) {
  .menu li {
    display: inline-block
  }
}
.article-inline-image {
  max-width: 100%
}
@media (min-width:992px) {
  .article-inline-image {
    max-width: 512px;
    float: left;
    margin-right: 1rem
  }
}
article ol,
article p,
article ul {
  overflow: hidden
}