* {
    box-sizing: border-box;
}

html {
    height: 100%;
    background-color: $bg-color;
    font-size: $main-font-size;
}

body {
    height: 100%;
    padding: 1rem;
    color: $text-color;
}

a {
    color: $link-color;
    text-decoration: none;

    &:hover {
        color: $link-color-hover;
    }
}

table {
    border: 1px solid darken($bg-color, 20);
    width: 100%;

    tr {
        th {
            background: linear-gradient(darken($bg-color, 20), lighten($bg-color, 10));
        }
        td {
            background: lighten($bg-color, 10);
        }
    }

    @include breakpoint("desktop") {
        width: auto;
    }
}

.menu-trigger {
    float: right;
    cursor: pointer;
}

.menu {
    padding: 0;
    display: none;

    &.menu-is-open {
        display: block;
    }

    @include breakpoint("desktop") {
        display: block;
    }

    li {
        overflow: hidden;
        display: block;
        margin-bottom: 0.25rem;

        a {
            display: block;
            padding: 0.5rem;
            background: linear-gradient(darken($bg-color, 20), lighten($bg-color, 20));

            &:hover, &.active {
                background: linear-gradient(darken($bg-color, 30), lighten($bg-color, 5));
            }
        }

        @include breakpoint("desktop") {
            display: inline-block;
        }
    }
}

.article-inline-image {
    max-width: 100%;

    @include breakpoint("desktop") {
        max-width: 512px;
        float: left;
        margin-right: 1rem;
    }
}

article {
    p, ul, ol {
        overflow: hidden;
    }
}
